<div id="<%= dom_id tourist_place %>">
  <p>
    <strong>Name:</strong>
    <%= tourist_place.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tourist_place.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= tourist_place.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= tourist_place.phone_number %>
  </p>

  <p>
    <strong>Opening hours:</strong>
    <%= tourist_place.opening_hours %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= tourist_place.website_url %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= tourist_place.photo %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= tourist_place.label %>
  </p>

</div>
