<div id="<%= dom_id tourist_place %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tourist_place.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= tourist_place.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= tourist_place.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= tourist_place.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Opening hours:</strong>
    <%= tourist_place.opening_hours %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Website url:</strong>
    <%= tourist_place.website_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Photo:</strong>
    <%= tourist_place.photo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Label:</strong>
    <%= tourist_place.label %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this tourist place", tourist_place, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this tourist place", edit_tourist_place_path(tourist_place), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
