<h1 class="text-xl font-bold">Sign in</h1>

<div class="card flex flex-col max-w-xs">
  <%= form_with(url: sign_in_path) do |form| %>
    <div class="form-control">
      <%= form.label :email, class: "label" %>
      <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
    </div>

    <div class="form-control">
      <%= form.label :password, class: "label" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", class: "input input-bordered w-full" %>
    </div>

    <div class="form-control my-4">
      <%= form.submit "Sign in", class: "btn btn-neutral" %>
    </div>
  <% end %>

  <div>
    <%= link_to "Sign up", sign_up_path, class: "link link-primary" %> |
    <%= link_to "Forgot your password?", new_identity_password_reset_path, class: "link link-primary" %>
  </div>
</div>
