<div id="<%= dom_id food_place %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= food_place.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= food_place.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= food_place.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= food_place.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Opening hours:</strong>
    <%= food_place.opening_hours %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this food place", food_place, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this food place", edit_food_place_path(food_place), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
